<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/list.css">
	<title>LiteList</title>
</head>
<body>
	<div id="background-wrap">
	    <div class="x1">
	        <div class="cloud"></div>
	    </div>

	    <div class="x2">
	        <div class="cloud"></div>
	    </div>

	    <div class="x3">
	        <div class="cloud"></div>
	    </div>

	    <div class="x4">
	        <div class="cloud"></div>
	    </div>

	    <div class="x5">
	        <div class="cloud"></div>
	    </div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<img src="static/img/ellipses.png" alt="circles" class="ellipses">
			</div>
			<div class="col-sm-12 col-lg-6">
				<h1>LiteList <img src="static/img/litelist_logo.png" alt="logo" width="64px" height="64px" class="logo"></h1>

				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>

				<h2>An awesome progress-tracking web app that lets you set goals and track your progress.</h2>

				<button type="button" class="btn more">Learn More</button>
				<button type="button" class="btn login">Login</button>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
	<script src="static/js/index.js"></script>
</body>
</html>